.about-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-header img {
  max-width: 200px;
  margin-left: -15px;
  padding: 25px 0 20px;
}

.about-info p {
  color: #697072;
  text-align: justify;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.conference-data {
  float: right;
}
