$categories: ( development: color($colors, primary), managment: #FE4C52, food: #3BC7C4 );
@function auxiliary-categories() {
     @return map-remove($categories);
}

.schedule-page {
    @each $track, $value in auxiliary-categories() {
        ion-item-sliding[track=#{$track}] ion-label {
            border-left : 2px solid $value;
            padding-left: 10px;
        }
    }
}
